//colors
$white: #fff;
$border-grey: #ddd;
$black: #000;
$lightGreen: #8be3b0;
$lightGreenInverted: #741C4F;
$lightBlue: #8FDCEF;
$lightBlueInverted: #702310;
$blue: #74D2E9;
$orange: #E76851;
$orangeInverted: #1897AE;
$red: #e9674c;
$grey: #F5F5F5;

// primary color variables
$primary-border: $border-grey;
$primary-button-background: #9cbc84;
$primary-button-color: #fff;
// $primary-text: #262626;
$primary-text: #4a4a4a;

// secondary color variables
$secondary-text: $white;
$secondary-button-color: #a0a0a0;

// misc header colors
$header-accent: #1c82b4;
$invert-text: $secondary-text;
$search-accent: #f5f5f5;
$link-default: #2197d2;
